openapi: 3.2.0
info:
  contact:
    email: info@akuity.io
    name: Akuity
    url: https://docs.akuity.io/akuity-portal/automation/api
  description: The Argo CD surface of the Akuity Platform REST API (grpc-gateway projection of argocd/v1). Derived mechanically from the protobuf service descriptors and google.api.http annotations published in the akuity/api-client-go Go module.
  title: Akuity Platform API — Argo CD Argo CD Service API
  version: v1
servers:
- description: Akuity Platform (SaaS)
  url: https://akuity.cloud
security:
- basicAuth: []
tags:
- name: ArgoCDService
paths:
  /api/v1/argocd/versions:
    get:
      operationId: ArgoCDService_ListInstanceVersions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ListInstanceVersionsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: List Instance Versions
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ListInstanceVersions
  /api/v1/orgs/{organization_id}/argocd/instances:
    get:
      operationId: ArgoCDService_ListInstances
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ListInstancesResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: List Instances
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ListInstances
    post:
      operationId: ArgoCDService_CreateInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Create Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/CreateInstance
  /api/v1/orgs/{organization_id}/argocd/instances/ai-assistant-usage-stats:
    post:
      operationId: ArgoCDService_GetAIAssistantUsageStats
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_GetAIAssistantUsageStatsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetAIAssistantUsageStatsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get AIAssistant Usage Stats
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetAIAssistantUsageStats
  /api/v1/orgs/{organization_id}/argocd/instances/sync-operations-events:
    post:
      operationId: ArgoCDService_GetSyncOperationsEvents
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_GetSyncOperationsEventsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetSyncOperationsEventsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Sync Operations Events
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetSyncOperationsEvents
  /api/v1/orgs/{organization_id}/argocd/instances/sync-operations-stats:
    post:
      operationId: ArgoCDService_GetSyncOperationsStats
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_GetSyncOperationsStatsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetSyncOperationsStatsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Sync Operations Stats
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetSyncOperationsStats
  /api/v1/orgs/{organization_id}/argocd/instances/{id}:
    delete:
      operationId: ArgoCDService_DeleteInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_DeleteInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Delete Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/DeleteInstance
    get:
      operationId: ArgoCDService_GetInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: idType
        required: false
        schema:
          $ref: '#/components/schemas/akuity_types_id_v1_Type'
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstance
    patch:
      operationId: ArgoCDService_PatchInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstance
    put:
      operationId: ArgoCDService_UpdateInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstance
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/apply:
    post:
      operationId: ArgoCDService_ApplyInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_ApplyInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ApplyInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Apply Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ApplyInstance
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/appset/secret:
    get:
      operationId: ArgoCDService_GetInstanceAppsetSecret
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceAppsetSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Appset Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceAppsetSecret
    patch:
      operationId: ArgoCDService_PatchInstanceAppsetSecret
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceAppsetSecretRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceAppsetSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance Appset Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstanceAppsetSecret
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/clusters:
    put:
      operationId: ArgoCDService_UpdateInstanceClusters
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClustersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClustersResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Clusters
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceClusters
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/config-management-plugins:
    get:
      operationId: ArgoCDService_GetInstanceConfigManagementPlugins
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceConfigManagementPluginsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Config Management Plugins
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceConfigManagementPlugins
    put:
      operationId: ArgoCDService_UpdateInstanceConfigManagementPlugins
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceConfigManagementPluginsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceConfigManagementPluginsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Config Management Plugins
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceConfigManagementPlugins
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/css:
    get:
      operationId: ArgoCDService_GetInstanceCSS
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceCSSResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance CSS
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceCSS
    put:
      operationId: ArgoCDService_UpdateInstanceCSS
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceCSSRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceCSSResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance CSS
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceCSS
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/export:
    get:
      operationId: ArgoCDService_ExportInstance
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: idType
        required: false
        schema:
          $ref: '#/components/schemas/akuity_types_id_v1_Type'
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ExportInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Export Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ExportInstance
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/image-updater:
    get:
      operationId: ArgoCDService_GetInstanceImageUpdaterSettings
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceImageUpdaterSettingsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Image Updater Settings
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceImageUpdaterSettings
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/image-updater/config:
    put:
      operationId: ArgoCDService_UpdateInstanceImageUpdaterConfig
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceImageUpdaterConfigRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceImageUpdaterConfigResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Image Updater Config
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceImageUpdaterConfig
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/image-updater/secret:
    patch:
      operationId: ArgoCDService_PatchInstanceImageUpdaterSecret
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceImageUpdaterSecretRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceImageUpdaterSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance Image Updater Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstanceImageUpdaterSecret
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/image-updater/ssh-config:
    put:
      operationId: ArgoCDService_UpdateInstanceImageUpdaterSSHConfig
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceImageUpdaterSSHConfigRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceImageUpdaterSSHConfigResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Image Updater SSHConfig
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceImageUpdaterSSHConfig
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/notifications:
    get:
      operationId: ArgoCDService_GetInstanceNotificationSettings
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceNotificationSettingsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Notification Settings
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceNotificationSettings
    put:
      operationId: ArgoCDService_UpdateInstanceNotificationConfig
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceNotificationConfigRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceNotificationConfigResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Notification Config
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceNotificationConfig
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/notifications/catalog:
    get:
      operationId: ArgoCDService_GetInstanceNotificationCatalog
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceNotificationCatalogResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Notification Catalog
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceNotificationCatalog
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/notifications/secret:
    patch:
      operationId: ArgoCDService_PatchInstanceNotificationSecret
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceNotificationSecretRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceNotificationSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance Notification Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstanceNotificationSecret
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/resource-customizations:
    get:
      operationId: ArgoCDService_GetInstanceResourceCustomizations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceResourceCustomizationsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Resource Customizations
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceResourceCustomizations
    put:
      operationId: ArgoCDService_UpdateInstanceResourceCustomizations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceResourceCustomizationsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceResourceCustomizationsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Resource Customizations
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceResourceCustomizations
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/secret:
    patch:
      operationId: ArgoCDService_PatchInstanceSecret
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceSecretRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstanceSecret
  /api/v1/orgs/{organization_id}/argocd/instances/{id}/transfer:
    put:
      operationId: ArgoCDService_UpdateInstanceWorkspace
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceWorkspaceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceWorkspaceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Workspace
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceWorkspace
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/accounts:
    get:
      operationId: ArgoCDService_ListInstanceAccounts
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ListInstanceAccountsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: List Instance Accounts
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ListInstanceAccounts
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/accounts/{name}:
    delete:
      operationId: ArgoCDService_DeleteInstanceAccount
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_DeleteInstanceAccountResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Delete Instance Account
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/DeleteInstanceAccount
    put:
      operationId: ArgoCDService_UpsertInstanceAccount
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpsertInstanceAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpsertInstanceAccountResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Upsert Instance Account
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpsertInstanceAccount
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/accounts/{name}/password:
    put:
      operationId: ArgoCDService_UpdateInstanceAccountPassword
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceAccountPasswordRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceAccountPasswordResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Account Password
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceAccountPassword
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/accounts/{name}/regenerate-password:
    post:
      operationId: ArgoCDService_RegenerateInstanceAccountPassword
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_RegenerateInstanceAccountPasswordRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_RegenerateInstanceAccountPasswordResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Regenerate Instance Account Password
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/RegenerateInstanceAccountPassword
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters:
    get:
      operationId: ArgoCDService_ListInstanceClusters
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ListInstanceClustersResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: List Instance Clusters
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ListInstanceClusters
    post:
      operationId: ArgoCDService_CreateInstanceCluster
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceClusterRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceClusterResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Create Instance Cluster
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/CreateInstanceCluster
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/agent-version:
    post:
      operationId: ArgoCDService_UpdateInstanceClustersAgentVersion
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClustersAgentVersionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Clusters Agent Version
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceClustersAgentVersion
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/regenerate-manifests:
    post:
      operationId: ArgoCDService_RegenerateManifests
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_RegenerateManifestsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_RegenerateManifestsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Regenerate Manifests
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/RegenerateManifests
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/rotate-credentials:
    post:
      operationId: ArgoCDService_RotateInstanceClusterCredentials
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_RotateInstanceClusterCredentialsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_RotateInstanceClusterCredentialsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Rotate Instance Cluster Credentials
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/RotateInstanceClusterCredentials
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/set-maintenance-mode:
    post:
      operationId: ArgoCDService_SetClusterMaintenanceMode
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_SetClusterMaintenanceModeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_SetClusterMaintenanceModeResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Set Cluster Maintenance Mode
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/SetClusterMaintenanceMode
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/{id}:
    delete:
      operationId: ArgoCDService_DeleteInstanceCluster
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_DeleteInstanceClusterResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Delete Instance Cluster
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/DeleteInstanceCluster
    get:
      operationId: ArgoCDService_GetInstanceCluster
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: idType
        required: false
        schema:
          $ref: '#/components/schemas/akuity_types_id_v1_Type'
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceClusterResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Cluster
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceCluster
    put:
      operationId: ArgoCDService_UpdateInstanceCluster
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClusterRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClusterResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Cluster
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceCluster
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/{id}/command:
    get:
      operationId: ArgoCDService_GetInstanceClusterCommand
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: locationOrigin
        required: false
        schema:
          type: string
      - in: query
        name: offline
        required: false
        schema:
          type: boolean
      - in: query
        name: type
        required: false
        schema:
          type: string
      - in: query
        name: skipNamespace
        required: false
        schema:
          type: boolean
      - in: query
        name: commandFor
        required: false
        schema:
          $ref: '#/components/schemas/akuity_argocd_v1_ClusterCommandFor'
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceClusterCommandResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Cluster Command
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceClusterCommand
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/{id}/info:
    get:
      operationId: ArgoCDService_GetInstanceClusterInfo
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: idType
        required: false
        schema:
          $ref: '#/components/schemas/akuity_types_id_v1_Type'
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceClusterInfoResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Cluster Info
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceClusterInfo
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/{id}/manifests:
    get:
      operationId: ArgoCDService_GetInstanceClusterManifests
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: offlineInstallation
        required: false
        schema:
          type: boolean
      - in: query
        name: skipNamespace
        required: false
        schema:
          type: boolean
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Raw HTTP body (see google.api.HttpBody)
                type: string
          description: OK (server-streaming; grpc-gateway emits a newline-delimited JSON stream of result/error envelopes)
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Cluster Manifests
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceClusterManifests
      x-streaming: server
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_id}/clusters/{id}/support-access:
    put:
      operationId: ArgoCDService_UpdateInstanceClusterSupportAccess
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClusterSupportAccessRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceClusterSupportAccessResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance Cluster Support Access
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstanceClusterSupportAccess
  /api/v1/orgs/{organization_id}/argocd/instances/{instance_name}/addons/{id}:
    delete:
      operationId: ArgoCDService_DeleteInstanceAddon_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_name
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      - in: query
        name: instanceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_DeleteInstanceAddonResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Delete Instance Addon
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/DeleteInstanceAddon
    get:
      operationId: ArgoCDService_GetInstanceAddon_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: instance_name
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      - in: query
        name: instanceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceAddonResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Addon
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceAddon
  /api/v1/orgs/{organization_id}/argocd/utils/cluster-ca-data:
    get:
      operationId: ArgoCDService_GetClusterAPIServerCAData
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: query
        name: instanceId
        required: false
        schema:
          type: string
      - in: query
        name: clusterName
        required: false
        schema:
          type: string
      - in: query
        name: server
        required: false
        schema:
          type: string
      - in: query
        name: workspaceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetClusterAPIServerCADataResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Cluster APIServer CAData
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetClusterAPIServerCAData
  /api/v1/orgs/{organization_id}/workspaces/{workspace_id}/argocd/instances:
    get:
      operationId: ArgoCDService_ListInstances_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ListInstancesResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: List Instances
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ListInstances
    post:
      operationId: ArgoCDService_CreateInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_CreateInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Create Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/CreateInstance
  /api/v1/orgs/{organization_id}/workspaces/{workspace_id}/argocd/instances/{id}:
    delete:
      operationId: ArgoCDService_DeleteInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_DeleteInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Delete Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/DeleteInstance
    get:
      operationId: ArgoCDService_GetInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: idType
        required: false
        schema:
          $ref: '#/components/schemas/akuity_types_id_v1_Type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstance
    patch:
      operationId: ArgoCDService_PatchInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstance
    put:
      operationId: ArgoCDService_UpdateInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_UpdateInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Update Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/UpdateInstance
  /api/v1/orgs/{organization_id}/workspaces/{workspace_id}/argocd/instances/{id}/apply:
    post:
      operationId: ArgoCDService_ApplyInstance_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_ApplyInstanceRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_ApplyInstanceResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Apply Instance
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/ApplyInstance
  /api/v1/orgs/{organization_id}/workspaces/{workspace_id}/argocd/instances/{id}/appset/secret:
    get:
      operationId: ArgoCDService_GetInstanceAppsetSecret_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_GetInstanceAppsetSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Get Instance Appset Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/GetInstanceAppsetSecret
    patch:
      operationId: ArgoCDService_PatchInstanceAppsetSecret_1
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      - in: path
        name: workspace_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceAppsetSecretRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/akuity_argocd_v1_PatchInstanceAppsetSecretResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: unauthenticated
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: gRPC status error
      summary: Patch Instance Appset Secret
      tags:
      - ArgoCDService
      x-grpc-method: akuity.argocd.v1.ArgoCDService/PatchInstanceAppsetSecret
[...]
